# =========================
# Node modules
# =========================
node_modules/

# =========================
# Environment variables (IMPORTANT 🔥)
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Runtime data
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Coverage
# =========================
coverage/

# =========================
# Build files
# =========================
dist/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Docker
# =========================
.dockerignore

# =========================
# PM2
# =========================
.pm2/

# =========================
# Misc
# =========================
*.tgz
*.swp
*.bak